:root{

--cor-fundo:#fafafa;

--cor-texto:#222;

--cor-subtitulo:#555;

--cor-navbar:#002147;

--cor-titulo:#002147;

--cor-link:#003399;

--cor-hover:#ffd43b;

--cor-footer:#002147;

--cor-footer-texto:white;

}

.dark-mode{

--cor-fundo:#121212;

--cor-texto:#eeeeee;

--cor-subtitulo:#cfcfcf;

--cor-navbar:#0a0a0a;

--cor-titulo:#66b3ff;

--cor-link:#7db7ff;

--cor-hover:#ffd43b;

--cor-footer:#0a0a0a;

--cor-footer-texto:white;

}
*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Arial, Helvetica, sans-serif;

background:var(--cor-fundo);

color:var(--cor-texto);

line-height:1.8;

transition:.35s;

}

.container{

width:90%;

max-width:1100px;

margin:auto;

}

header{

padding:70px 0;

}

.profile{

display:flex;

justify-content:space-between;

align-items:center;

}

.profile img{

width:240px;

border-radius:8px;

box-shadow:0 0 12px rgba(0,0,0,.15);

}

h1{

font-size:46px;

margin-bottom:10px;

}

.subtitle{

font-size:20px;

color:var(--cor-subtitulo);

}

nav{

background:var(--cor-navbar);

padding:18px;

text-align:center;

position:sticky;

top:0;

}

nav a{

color:white;

text-decoration:none;

margin:0 20px;

font-size:18px;

transition:.3s;

}

nav a:hover{

color:#ffd43b;

}

section{

margin-top:70px;

}

h2{

font-size:34px;

color:var(--cor-titulo);

margin-bottom:20px;

border-bottom:2px solid var(--cor-titulo);

padding-bottom:8px;

}

ul{

margin-left:25px;

}

ol{

margin-left:25px;

}

li{

margin:12px 0;

}

a{

color:var(--cor-link);

}

footer{

margin-top:80px;

padding:35px;

text-align:center;

background:var(--cor-footer);

color:var(--cor-footer-texto);

}

@media(max-width:850px){

.profile{

flex-direction:column;

text-align:center;

}

.profile img{

margin-top:35px;

width:220px;

}

nav a{

display:block;

margin:10px;

}

}
